
<MudNavMenu>
    @*<div class="NavHead">
            <img src="../image/tms.jpg" alt="Icon">
            <p>TimeSheet</p>
        </div>*@
    @*<MudText Typo="Typo.h6" Class="px-4">TMS</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">User</MudText>*@
    <MudDivider Class="my-2" />
    @*<MudNavLink Href="/dashboard" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>*@
    <MudNavLink Href="/timesheet/dailytimesheet" Icon="@Icons.Filled.Receipt">Daily Time</MudNavLink>
    <MudNavLink Href="/account/userlist" Icon="@Icons.Filled.Receipt">User List</MudNavLink>
    @*<MudNavGroup Title="Reports" Expanded="true" Icon="@Icons.Filled.Settings">
        <MudNavLink Href="/users" Icon="@Icons.Filled.Receipt">User TimeSheet </MudNavLink>
    </MudNavGroup>*@
</MudNavMenu>



@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">ClientUI</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@
